body {
    background-color: black;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
}

.main {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.content {
    text-align:center;
}

.link-button {
    display: inline-block;
    background-color: lightgray;
    color: #fff;
    padding: 3px 25px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #fff;
    position: fixed;
      top: 68%; 
      left: 50%; 
      transform: translate(-50%, -50%);
}

.link-button:hover {
    background-color: white;
    transition-delay: .1s;
}

.link-button:hover > p {
    color: black;
    transition-delay: .1s;
}

h1 {
    font-size: 50px;
    color: #fff;
}

.content {
    font-size: 25px;
    color: #fff;
}